<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DND Character Builder</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <script src="js/vendor/modernizr.js"></script>
    <style>
    .attr_container {
      border: 0px;
      border-style: solid;
      border-color: #000;
      text-align: center;
    }
    .attr_mod_mobile {
      font-size: 20px;
      text-align: center;
    }
    .attr_mod {
      font-size: 40px;
      text-align: center;
    }
    .attr_score {
      font-style: italic;
      font-size: 12px;
      text-align: center;
    }
    .attr {
      font-size: 12px;
      margin: 0 0 -10px 0;
      text-align: center;
    }
    .skills {
      font-size: 14px;
    }
    </style>
     <% @amz_link = "http://www.amazon.com/gp/product/0786965606/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0786965606&linkCode=as2&tag=s0432c-20&linkId=DVQNDEKTCOBCER77" %>
    <% @buy_text = "Not avilable in the basic rules." %>
    <% @spelllist_wizard0 = [
  {name:"Acid Splash", ct:"1 Action", range:"60 ft.", comp:"v, s", dur:"Instantaneous", school:"Conjuration", text:"You hurl a bubble of acid. Choose one creature within range, or choose two creatures within range that are within 5 feet of each other. A target must succeed on a Dexterity saving throw or take 1d6 acid damage. <br><br><i>This spell’s damage increases by 1d6 when you reach 5th level (2d6), 11th level (3d6), and 17th level (4d6).</i>"},
  {name:"Blade Ward", ct:"1 Action", range:"Self", comp:"v, s", dur:"1 Round", school:"Abjuration", text:@buy_text},
  {name:"Chill Touch", ct:"1 Action", range:"120 ft.", comp:"v, s", dur:"1 Round", school:"Necromancy", text:@buy_text},
  {name:"Dancing Lights", ct:"1 Round", range:"120 ft.", comp:"v, s, m (a bit of phosphorus or wychwood or a glowworm)", dur:"Concentration, up to 1 minute", school:"Evocation", text:"You create up to four torch-sized lights within range, making them appear as torches, lanterns, or glowing orbs that hover in the air for the duration. You can also combine the four lights into one glowing vaguely humanoid form of Medium size. Whichever form you choose, each light sheds dim light in a 10-foot radius.<br>
As a bonus action on your turn, you can move the lights up to 60 feet to a new spot within range. A light must be within 20 feet of another light created by this spell, and a light winks out if it exceeds the spell’s range."},
  {name:"Fire Bolt", ct:"1 Action", range:"120 ft.", comp:"v, s", dur:"Instantaneous", school:"Evocation", text:"You hurl a mote of fire at a creature or object within range. Make a ranged spell attack against the target. On a hit, the target takes 1d10 fire damage. A flammable object hit by this spell ignites if it isn’t being worn or carried.<br><br>
<i>This spell’s damage increases by 1d10 when you reach 5th level (2d10), 11th level (3d10), and 17th level (4d10).</i>"},
  {name:"Friends", ct:"1 Action", range:"Self", comp:"s, m (a small amount of makeup applid to the face as this spell is cast)", dur:"Concentration, up to 1 minute", school:"Enchantment", text:@buy_text},
  {name:"Light", ct:"1 Action", range:"Touch", comp:"v, m (a firefly or phosphorescent moss)", dur:"1 Hour", school:"Evocation", text:"You touch one object that is no larger than 10 feet in any dimension. Until the spell ends, the object sheds bright light in a 20-foot radius and dim light for an additional 20 feet. The light can be colored as you like. Completely covering the object with something opaque blocks the light. The spell ends if you cast it again or dismiss it as an action.<br>
If you target an object held or worn by a hostile creature, that creature must succeed on a Dexterity saving throw to avoid the spell."},
  {name:"Mage Hand", ct:"1 Action", range:"30 ft.", comp:"v, s", dur:"1 Minute", school:"Conjuration", text:"A spectral, floating hand appears at a point you choose within range. The hand lasts for the duration or until you dismiss it as an action. The hand vanishes if it is ever more than 30 feet away from you or if you cast this spell again.<br>
You can use your action to control the hand. You can use the hand to manipulate an object, open an unlocked door or container, stow or retrieve an item from an open container, or pour the contents out of a vial. You can move the hand up to 30 feet each time you use it.<br>
The hand can’t attack, activate magic items, or carry more than 10 pounds."},
  {name:"Mending", ct:"1 Minute", range:"Touch", comp:"v, s, m (two lodestones)", dur:"Instantaneous", school:"Transmutation", text:@buy_text},
  {name:"Message", ct:"1 Action", range:"120 ft.", comp:"v, s, m (a short piece of copper wire)", dur:"1 Round", school:"Transmutation", text:@buy_text},
  {name:"Minor Illusion", ct:"1 Action", range:"30 ft.", comp:"s, m (a bit of fleece)", dur:"1 Minute", school:"Illusion", text:"You create a sound or an image of an object within range that lasts for the duration. The illusion also ends if you dismiss it as an action or cast this spell again.<br>
If you create a sound, its volume can range from a whisper to a scream. It can be your voice, someone else’s voice, a lion’s roar, a beating of drums, or any other sound you choose. The sound continues unabated throughout the duration, or you can make discrete sounds at different times before the spell ends.<br>
If you create an image of an object—such as a chair, muddy footprints, or a small chest—it must be no larger than a 5-foot cube. The image can’t create sound, light, smell, or any other sensory effect. Physical interaction with the image reveals it to be an illusion, because things can pass through it.<br>
If a creature uses its action to examine the sound or image, the creature can determine that it is an illusion with a successful Intelligence (Investigation) check against your spell save DC. If a creature discerns the illusion for what it is, the illusion becomes faint to
the creature."},
  {name:"Poison Spray", ct:"1 Action", range:"10 ft.", comp:"v, s", dur:"Instantaneous", school:"Conjuration", text:"You extend your hand toward a creature you can see within range and project a puff of noxious gas from your palm. The creature must succeed on a Constitution saving throw or take 1d12 poison damage.<br>
This spell’s damage increases by 1d12 when you reach 5th level (2d12), 11th level (3d12), and 17th level (4d12)."},
  {name:"Prestidigitation", ct:"1 Action", range:"10 ft.", comp:"v, s", dur:"Up to 1 hour", school:"Transmutation", text:"This spell is a minor magical trick that novice spellcasters use for practice. You create one of the following magical effects within range:<br>
• You create an instantaneous, harmless sensory effect, such as a shower of sparks, a puff of wind, faint musi- cal notes, or an odd odor.<br>
• You instantaneously light or snuff out a candle, a torch, or a small campfire.<br>
• You instantaneously clean or soil an object no larger than 1 cubic foot.<br>
• You chill, warm, or flavor up to 1 cubic foot of nonliv- ing material for 1 hour.<br>
• You make a color, a small mark, or a symbol appear on an object or a surface for 1 hour.<br>
• You create a nonmagical trinket or an illusory image that can fit in your hand and that lasts until the end of your next turn.<br>
If you cast this spell multiple times, you can have up to three of its non-instantaneous effects active at a time, and you can dismiss such an effect as an action."},
  {name:"Ray of Frost", ct:"1 Action", range:"60 ft.", comp:"v, s", dur:"Instantaneous", school:"Evocation", text:"A frigid beam of blue-white light streaks toward a creature within range. Make a ranged spell attack against the target. On a hit, it takes 1d8 cold damage, and its speed is reduced by 10 feet until the start of your next turn.<br><br>
<i>The spell’s damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).</i>"},
  {name:"Shocking Grasp", ct:"1 Action", range:"Touch", comp:"v, s", dur:"Instantaneous", school:"Evocation", text:"Lightning springs from your hand to deliver a shock to a creature you try to touch. Make a melee spell attack against the target. You have advantage on the attack roll if the target is wearing armor made of metal. On a hit, the target takes 1d8 lightning damage, and it can’t take reactions until the start of its next turn.<br><br><i>
The spell’s damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).</i>"},
  {name:"True Strike", ct:"1 Action", range:"30 ft.", comp:"s", dur:"Concentration, up to 1 round", school:"Divination", text:@buy_text}
      ]%>
      <% @spelllist_wizard1 = [
        {name:"Alarm*", ct:"1 Minute", range:"30 ft.", comp:"v, s, m (a tiny bell and a pice of fine silver wire)", dur:"8 Hours", school:"Abjuration / Ritual", text:@buy_text},  
        {name:"Burning Hands", ct:"1 Action", range:"Self (15 ft. cone)", comp:"v, s", dur:"Instantaneous", school:"Evocation", text:"As you hold your hands with thumbs touching and fingers spread, a thin sheet of flames shoots forth from your outstretched fingertips. Each creature in a 15-foot cone must make a Dexterity saving throw. A creature takes 3d6 fire damage on a failed save, or half as much damage on a successful one.<br>
The fire ignites any flammable objects in the area that aren’t being worn or carried.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d6 for each slot level above 1st."},
        {name:"Charm Person", ct:"1 Action", range:"30 ft.", comp:"v, s", dur:"1 Hour", school:"Enchantment", text:"You attempt to charm a humanoid you can see within range. It must make a Wisdom saving throw, and does so with advantage if you or your companions are fighting it. If it fails the saving throw, it is charmed by you until the spell ends or until you or your companions do anything harmful to it. The charmed creature regards you as a friendly acquaintance. When the spell ends, the creature knows it was charmed by you.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, you can target one additional creature for each slot level above 1st. The creatures must be within 30 feet of each other when you target them."},
        {name:"Chromatic Orb*", ct:"1 Action", range:"90 ft.", comp:"v, s, m (a diamond worth of at least 50gp)", dur:"1 Hour", school:"Enchantment", text:@buy_text},
        {name:"Color Spray*", ct:"1 Action", range:"Self (15 ft. cone)", comp:"v, s, m (a diamond worth of at least 50gp)", dur:"1 Hour", school:"Enchantment", text:@buy_text},
        {name:"Comprehend Languages", ct:"1 Action", range:"Self", comp:"v, s, m (a dpinch of soot or salt)", dur:"1 Hour", school:"Divination", text:"For the duration, you understand the literal meaning of any spoken language that you hear. You also understand any written language that you see, but you must be touching the surface on which the words are written. It takes about 1 minute to read one page of text.<br>
This spell doesn’t decode secret messages in a text or a glyph, such as an arcane sigil, that isn’t part of a written language."},
        {name:"Detect Magic", ct:"1 Action", range:"Self", comp:"v, s", dur:"Concentration, up to 10 minutes", school:"Divination", text:"For the duration, you sense the presence of magic within 30 feet of you. If you sense magic in this way, you can use your action to see a faint aura around any visible creature or object in the area that bears magic, and you learn its school of magic, if any.<br>
The spell can penetrate most barriers, but it is blocked by 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood or dirt."},
        {name:"Disguise Self", ct:"1 Action", range:"Self", comp:"v, s", dur:"1 Hour", school:"Illusion", text:"You make yourself—including your clothing, armor, weapons, and other belongings on your person—look different until the spell ends or until you use your action to dismiss it. You can seem 1 foot shorter or taller and can appear thin, fat, or in between. You can’t change your body type, so you must adopt a form that has the same basic arrangement of limbs. Otherwise, the extent of the illusion is up to you.<br>
The changes wrought by this spell fail to hold up to physical inspection. For example, if you use this spell to add a hat to your outfit, objects pass through the hat, and anyone who touches it would feel nothing or would feel your head and hair. If you use this spell to appear thinner than you are, the hand of someone who reaches out to touch you would bump into you while it was seemingly still in midair.<br>
To discern that you are disguised, a creature can use its action to inspect your appearance and must succeed on an Intelligence (Investigation) check against your spell save DC."},
        {name:"Expedition Retreat*", ct:"1 Action", range:"Self", comp:"v, s", dur:"Up to 8 hours", school:"Transmutation", text:@buy_text},
        {name:"False Life*", ct:"1 Action", range:"Self", comp:"v, s, m(a small amount of alcohol or distilled spirits)", dur:"1 Hour", school:"Necromancy", text:@buy_text},
        {name:"Feather Fall*", ct:"1 Reaction", range:"60 ft.", comp:"v, m(a feather or piece of down)", dur:"1 Minute", school:"Transmutation", text:@buy_text},
        {name:"Find Familiar*", ct:"1 Hour", range:"10 ft.", comp:"v, s, m(10 gp worth of charcoal, incense, and herbs that must be consubed by fire in a brass brazier)", dur:"Instantaneous", school:"Conjuration", text:@buy_text},
        {name:"Fog Cloud*", ct:"1 Action", range:"120 ft.", comp:"v, s", dur:"Concentration, up to 1 hour", school:"Conjuration", text:@buy_text},
        {name:"Grease*", ct:"1 Action", range:"60 ft.", comp:"v, s, m (a bit of pork rind or butter)", dur:"1 Minute", school:"Conjuration", text:@buy_text},
        {name:"Identify", ct:"1 Minute", range:"Touch", comp:"v, s, m (a pearl worth at least 100 gp and an owl feather)", dur:"Instantaneous", school:"Divination", text:"You choose one object that you must touch throughout the casting of the spell. If it is a magic item or some other magic-imbued object, you learn its properties and how to use them, whether it requires attunement to use, and how many charges it has, if any. You learn whether any spells are affecting the item and what they are. If the item was created by a spell, you learn which spell created it.<br>
If you instead touch a creature throughout the casting, you learn what spells, if any, are currently affecting it."},
        {name:"Illusory Script*", ct:"1 Minute", range:"Touch", comp:"s, m (a lead-based ink worth at least 10 gp, which the spell consumes)", dur:"10 Days", school:"Illusion / Ritual", text:@buy_text},
        {name:"Jump*", ct:"1 Action", range:"Touch", comp:"v, s, m (a grasshopper's hind leg)", dur:"1 minute", school:"Transmutation", text:@buy_text},
        {name:"Longstrider*", ct:"1 Action", range:"Touch", comp:"v, s, m (a pinch of dirt)", dur:"1 Hour", school:"Transmutation", text:@buy_text},
        {name:"Mage Armor", ct:"1 Action", range:"Touch", comp:"v, s, m (a piece of cured leather)", dur:"8 Hours", school:"Abjuration", text:"You touch a willing creature who isn’t wearing armor, and a protective magical force surrounds it until the spell ends. The target’s base AC becomes 13 + its Dexterity modifier. The spell ends if the target dons armor or if you dismiss the spell as an action."},
        {name:"Magic Missle", ct:"1 Action", range:"120 ft.", comp:"v, s", dur:"Instantaneous", school:"Evocation", text:"You create three glowing darts of magical force. Each dart hits a creature of your choice that you can see within range. A dart deals 1d4 + 1 force damage to its target. The darts all strike simultaneously, and you can direct them to hit one creature or several.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, the spell creates one more dart for each slot level above 1st."},
        {name:"Ray of Sickness*", ct:"1 Action", range:"60 ft.", comp:"v, s", dur:"Instantaneous", school:"Necromancy", text:@buy_text},
        {name:"Shield", ct:"1 Reaction", range:"Self", comp:"v, s", dur:"1 Round", school:"Abjuration", text:"An invisible barrier of magical force appears and protects you. Until the start of your next turn, you have a +5 bonus to AC, including against the triggering attack, and you take no damage from magic missile."},
        {name:"Silent Image", ct:"1 Action", range:"60 ft.", comp:"v, s, m(a bit of fleece)", dur:"Concentration, up to 10 minutes", school:"Illusion", text:"You create the image of an object, a creature, or some other visible phenomenon that is no larger than a 15-foot cube. The image appears at a spot within range and lasts for the duration. The image is purely visual; it isn’t accompanied by sound, smell, or other sensory effects.<br>
You can use your action to cause the image to move to any spot within range. As the image changes location, you can alter its appearance so that its movements appear natural for the image. For example, if you create an image of a creature and move it, you can alter the image so that it appears to be walking.<br>
Physical interaction with the image reveals it to be an illusion, because things can pass through it. A creature that uses its action to examine the image can determine that it is an illusion with a successful Intelligence (Investigation) check against your spell save DC. If a creature discerns the illusion for what it is, the creature can see through the image."},
        {name:"Sleep", ct:"1 Action", range:"90 ft.", comp:"v, s, m(a pinch of fine sand, rose petals or a cricket)", dur:"1 minute", school:"Enchantment", text:"This spell sends creatures into a magical slumber. Roll 5d8; the total is how many hit points of creatures this spell can affect. Creatures within 20 feet of a point you choose within range are affected in ascending order of their current hit points (ignoring unconscious creatures).<br>
Starting with the creature that has the lowest current hit points, each creature affected by this spell falls unconscious until the spell ends, the sleeper takes damage, or someone uses an action to shake or slap the sleeper awake. Subtract each creature’s hit points from the total before moving on to the creature with the next lowest hit points. A creature’s hit points must be equal to or less than the remaining total for that creature to be affected.<br>
Undead and creatures immune to being charmed aren’t affected by this spell.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, roll an additional 2d8 for each slot level above 1st."},
        {name:"Tasha's Hideous Laughter*", ct:"1 Action", range:"30 ft.", comp:"v, s, m(tiny tarts and a feather that is waved in the air)", dur:"Concentration, up to 1 minute", school:"Enchantment", text:@buy_text},
        {name:"Tenser's Floating Disk*", ct:"1 Action", range:"30 ft.", comp:"v, s, m(a drop of mercury)", dur:"1 Hour", school:"Conjuration", text:@buy_text},
        {name:"Thunderwave", ct:"1 Action", range:"Self (15 ft. cube)", comp:"v, s", dur:"Instantaneous", school:"Evocation", text:"A wave of thunderous force sweeps out from you. Each creature in a 15-foot cube originating from you must make a Constitution saving throw. On a failed save, a creature takes 2d8 thunder damage and is pushed 10 feet away from you. On a successful save, the creature takes half as much damage and isn’t pushed.<br>
In addition, unsecured objects that are completely within the area of effect are automatically pushed 10 feet away from you by the spell’s effect, and the spell emits a thunderous boom audible out to 300 feet.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d8 for each slot level above 1st."},
        {name:"Unseen Servant*", ct:"1 Action", range:"60 ft.", comp:"v, s, m (a piece of string and a bit of wool)", dur:"1 Hour", school:"Conjuration / Ritual", text:@buy_text},
        ] %>
      <% @spelllist_cleric0 = [
  {name:"Guidance", ct:"1 Action", range:"Touch", comp:"v, s", dur:"Concentration, up to 1 minute", school:"Divination", text:"You touch one willing creature. Once before the spell ends, the target can roll a d4 and add the number rolled to one ability check of its choice. It can roll the die before or after making the ability check. The spell then ends."},
  {name:"Light",ct:"1 Action", range:"Touch", comp:"v, m, (a firefly or phosphorescent moss)", dur:"1 Hour", school:"Evocation", text:"You touch one object that is no larger than 10 feet in any dimension. Until the spell ends, the object sheds bright light in a 20-foot radius and dim light for an additional 20 feet. The light can be colored as you like. Completely covering the object with something opaque blocks the light. The spell ends if you cast it again or dismiss it
as an action.<br><br>
<i>If you target an object held or worn by a hostile creature, that creature must succeed on a Dexterity saving throw to avoid the spell.</i>"},
  {name:"Mending*",ct:"1 Minute", range:"Touch", comp:"v, s, m, (two lodestones)", dur:"Instantaneous", school:"Transmutation", text:@buy_text},
  {name:"Resistance",ct:"1 Action", range:"Touch", comp:"v, s, m, (a minature cloak)", dur:"Concentration, up to 1 minute", school:"Abjuration", text:"You touch one willing creature. Once before the spell ends, the target can roll a d4 and add the number rolled to one saving throw of its choice. It can roll
the die before or after making the saving throw. The spell then ends."},
  {name:"Sacred Flame",ct:"1 Action", range:"Touch", comp:"v, s, m, (a minature cloak)", dur:"Concentration, up to 1 minute", school:"Abjuration", text:"Flame-like radiance descends on a creature that you can see within range. The target must succeed on a Dexterity saving throw or take 1d8 radiant damage. The target gains no benefit from cover for this saving throw.<br>
<i>The spell’s damage increases by 1d8 when you reach 5th level (2d8), 11th level (3d8), and 17th level (4d8).</i>"},
  {name:"Spare the Dying",ct:"1 Action", range:"Touch", comp:"v, s", dur:"Instantaneous", school:"Necromancy", text:"You touch a living creature that has 0 hit points. The creature becomes stable. <i>This spell has no effect on undead or constructs.</i>"},
  {name:"Thaumaturgy",ct:"1 Action", range:"Touch", comp:"v, s", dur:"Instantaneous", school:"Transmutation", text:"You manifest a minor wonder, a sign of supernatural power, within range. You create one of the following magical effects within range:<br>
• Your voice booms up to three times as loud as normal for 1 minute.<br>
• You cause flames to flicker, brighten, dim, or change color for 1 minute.<br>
• You cause harmless tremors in the ground for 1 minute.<br>
• You create an instantaneous sound that originates from a point of your choice within range, such as a rumble of thunder, the cry of a raven, or omi- nous whispers.<br>
• You instantaneously cause an unlocked door or win- dow to fly open or slam shut.<br>
• You alter the appearance of your eyes for 1 minute.<br>
If you cast this spell multiple times, you can have up to three of its 1-minute effects active at a time, and you can dismiss such an effect as an action."} ]%>
        <% @spelllist_cleric1 = [
    {name:"Bane*", ct:"1 Action", range:"30 ft.", comp:"v, s, m (a drop of blood)", dur:"Concentration, up to 1 minute", school:"Enchanment", text:@buy_text},
    {name:"Bless",ct:"1 Action", range:"30 ft.", comp:"v, s, m, (a sprinkling of holy water)", dur:"Concentration, up to 1 minute", school:"Enchantment", text:"You bless up to three creatures of your choice within range. Whenever a target makes an attack roll or a saving throw before the spell ends, the target can roll a d4 and add the number rolled to the attack roll or saving throw.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, you can target one additional creature for each slot level above 1st."},
  {name:"Command",ct:"1 Action", range:"60 ft.", comp:"v", dur:"1 Round", school:"Enchantment", text:"You speak a one-word command to a creature you can see within range. The target must succeed on a Wisdom saving throw or follow the command on its next turn. The spell has no effect if the target is undead, if it doesn’t understand your language, or if your command is directly harmful to it.
Some typical commands and their effects follow. You might issue a command other than one described here. If you do so, the DM determines how the target behaves. If the target can’t follow your command, the spell ends.
Approach. The target moves toward you by the shortest and most direct route, ending its turn if it moves within 5 feet of you.<br>
<b>Drop</b>. The target drops whatever it is holding and then ends its turn.<br>
<b>Flee</b>. The target spends its turn moving away from you by the fastest available means.<br>
<b>Grovel</b>. The target falls prone and then ends its turn.<br>
<b>Halt</b>. The target doesn’t move and takes no actions. A flying creature stays aloft, provided that it is able to do so. If it must move to stay aloft, it flies the minimum distance needed to remain in the air.<br>
<b>At Higher Levels.</b> When you cast this spell using
a spell slot of 2nd level or higher, you can affect one additional creature for each slot level above 1st. The creatures must be within 30 feet of each other when you target them."},
    {name:"Create or Destroy Water*",ct:"1 Action", range:"30 ft.", comp:"s, m (a drop of water or a few grains of sand)", dur:"Instantaneous", school:"Transmutation", text:@buy_text},
    {name:"Cure Wounds",ct:"1 Action", range:"Touch", comp:"v, s", dur:"Instantaneous", school:"Evocation", text:"A creature you touch regains a number of hit points equal to 1d8 + your spellcasting ability modifier. This spell has no effect on undead or constructs.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, the healing increases by 1d8 for each slot level above 1st."},
    {name:"Detect Good and Evil*",ct:"1 Action", range:"Self", comp:"v, s", dur:"Concentration, up to 10 minutes", school:"Divination", text:@buy_text},
    {name:"Detect Magic",ct:"1 Action", range:"Self", comp:"v, s", dur:"Concentration, up to 10 minutes", school:"Divination", text:"For the duration, you sense the presence of magic within 30 feet of you. If you sense magic in this way, you can use your action to see a faint aura around any visible creature or object in the area that bears magic, and you learn its school of magic, if any.<br>
The spell can penetrate most barriers, but it is blocked by 1 foot of stone, 1 inch of common metal, a thin sheet of lead, or 3 feet of wood or dirt."},
    {name:"Detect Poison and Disease*",ct:"1 Action", range:"Self", comp:"v, s, m (a yew leaf)", dur:"Concentration, up to 10 minutes", school:"Divination", text:@buy_text},
    {name:"Guiding Bolt",ct:"1 Action", range:"120 ft.", comp:"v, s", dur:"1 Round", school:"Evocation", text:"A flash of light streaks toward a creature of your choice within range. Make a ranged spell attack against the target. On a hit, the target takes 4d6 radiant damage, and the next attack roll made against this target before the end of your next turn has advantage, thanks to the mystical dim light glittering on the target until then.<br>
<b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d6 for each slot level above 1st."},
    {name:"Healing Word",ct:"1 Bonus Action", range:"60 ft.", comp:"v", dur:"Instantaneous", school:"Evocation", text:"A creature of your choice that you can see within range regains hit points equal to 1d4 + your spellcasting ability modifier. This spell has no effect on undead
or constructs.<br><b>At Higher Levels.</b> When you cast this spell using a spell slot of 2nd level or higher, the healing increases by 1d4 for each slot level above 1st."},
    {name:"Inflict Wounds",ct:"1 Action", range:"Touch", comp:"v, s", dur:"Instantaneous", school:"Necromancy", text:"Make a melee spell attack against a creature you can reach. On a hit, the target takes 3d10 necrotic damage.<br>
At Higher Levels. When you cast this spell using a spell slot of 2nd level or higher, the damage increases by 1d10 for each slot level above 1st."},
    {name:"Purify Food and Drink*",ct:"1 Action", range:"10 ft.", comp:"v, s", dur:"Instantaneous", school:"Transmutation", text:@buy_text},
    {name:"Sanctuary",ct:"1 Bonus Action", range:"30 ft.", comp:"v, s, m (a small silver mirror)", dur:"1 Minute", school:"Abjuration", text:"You ward a creature within range against attack. Until the spell ends, any creature who targets the warded creature with an attack or a harmful spell must first make a Wisdom saving throw. On a failed save, the creature must choose a new target or lose the attack or spell. This spell doesn’t protect the warded creature from area effects, such as the explosion of a fireball.<br>
If the warded creature makes an attack or casts a spell that affects an enemy creature, this spell ends."},
    {name:"Shield of Faith",ct:"1 Bonus Action", range:"60 ft.", comp:"v, s, m (a small parchment with a bit of holy text)", dur:"Concentration, up to 10 minutes", school:"Abjuration", text:"A shimmering field appears and surrounds a creature of your choice within range, granting it a +2 bonus to AC for the duration."}
    ]%>

  </head>
  <body>

  <div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="hide-for-medium-up"><a href="#">Small Menu</a></li>
        <li><a id="create" href="#">Create Another</a></li>
        <li><a id="bottom" href="#">Bottom</a></li>
      </ul>
      <ul class="right">
        <li><a href="#">About</a>
        <li class="active"><a target="_blank" href="http://spensercoke.com">Author</a></li>
      </ul>
    </section>
  </nav>
  </div>
  <br><br><br>
    
  <!-- First row -->
  <div class="row">
    <div class="panel">Almost done! Still a work in progress...</div>
    <div class="medium-4 columns">
      <strong>Character Name</strong><br>
      <span contenteditable="true"><%= @ch_name %></span>
      
      <br><br>
      <strong>Bio</strong><br> 
      <div contenteditable="true">Put some useful info here.</div><br>
    </div>
    
    <div class="medium-8 columns panel">
     <div class="row">
        <div class="small-4 columns">
        <b>Level:</b> 1
        </div>
        <div class="small-4 columns">
          <b>Background:</b> <%= @ch_background %>
        </div>
        <div class="small-4 columns">
        <b>Player Name:</b> <input name="player_name" type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-4 columns">
          <b>Race:</b> <%= @ch_race %>
        </div>
        <div class="small-4 columns">
          <b>Alignment:</b> <%= @ch_alignment %>
        </div>
        <div class="small-4 columns">
        <b>XP:</b> <input name="xp" type="number">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="medium-12 columns panel" id="escaper">
    <!-- Stats -->
    
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">STR</div><br>
        <span class="attr_mod"><%= ((@ch_str.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_str %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">DEX</div><br>
        <span class="attr_mod"><%= ((@ch_dex.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_dex %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">CON</div><br>
        <span class="attr_mod"><%= ((@ch_con.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_con %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">INT</div><br>
        <span class="attr_mod"><%= ((@ch_int.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_int %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">WIS</div><br>
        <span class="attr_mod"><%= ((@ch_wis.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_wis %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">CHA</div><br>
        <span class="attr_mod"><%= ((@ch_cha.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_cha %>)</span>
      </div>
    </div>
    
  </div>
  </div>
  
  <div class="row">
    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <table>
            <tr><th>Saving Throws</th></tr>
            <% @ch_stp.split(",").each do |stp| %>
            <tr><td><span contenteditable="true"><%= stp %> <i>(+2)</i></span></td></tr>
            <% end %>

          </table>
          
          <fieldset name="death saves"><legend>Death Saves</legend>
          <p>Success:<br> <input type="checkbox"></input> <input type="checkbox"></input> <input type="checkbox"></input><br>
            Failure:<br> <input type="checkbox"></input> <input type="checkbox"></input> <input type="checkbox"></input></p>          </fieldset>
            
          <strong>Languages</strong><br>
            <div contenteditable="true" id="ch_lang"><%= @ch_race_languages.gsub('^', ', ') %>
              <% if @master_lang_count > 0 %>
              , and <%= @master_lang_count %> extra language(s) of your choice.
              <% end %>
          </div>
        </div>
        
        <div class="small-6 columns">
            <strong>Skills</strong><br>
            <div class="skills">
              
              <small>(DEX)</small> <% if @master_skill_list.include?('Acrobatics') %><b><i>(T)</i> <% end %>Acrobatics</b> <br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Animal Handling') %><b><i>(T)</i> <% end %>Animal Handling</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('Arcana') %><b><i>(T)</i> <% end %>Arcana</b><br>
              <small>(STR)</small> <% if @master_skill_list.include?('Athletics') %><b><i>(T)</i> <% end %>Athletics</b> <br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Deception') %><b><i>(T)</i> <% end %>Deception</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('History') %><b><i>(T)</i> <% end %>History</b><br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Insight') %><b><i>(T)</i> <% end %>Insight</b><br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Intimidation') %><b><i>(T)</i> <% end %>Intimidation</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('Medicine') %><b><i>(T)</i> <% end %>Medicine</b><br>
              <small>(INT)</small> <% if @master_skill_list.include?('Nature') %><b><i>(T)</i> <% end %>Nature</b> <br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Perception') %><b><i>(T)</i> <% end %>Perception</b> <br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Performance') %><b><i>(T)</i> <% end %>Performance</b><br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Persuasion') %><b><i>(T)</i> <% end %>Persuasion</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('Religion') %><b><i>(T)</i> <% end %>Religion</b> <br>
              <small>(DEX)</small> <% if @master_skill_list.include?('Sleight of Hand') %><b><i>(T)</i> <% end %>Sleight of Hand</b> <br>
              <small>(DEX)</small> <% if @master_skill_list.include?('Stealth') %><b><i>(T)</i> <% end %>Stealth</b> <br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Survival') %><b><i>(T)</i> <% end %>Survival</b> <br>
              <% if @ch_rogue_exp.length != 0 %><br>If rogue, expert in: <%= @ch_rogue_exp %><% end %>
            </div>
        </div>
      </div>
    <% if @ch_spells_selected %>
    <br>
    <% tincw = 0 %>
    <div class="row">
      <div class="small-6 columns">
        <strong>Spells</strong><br>
        <% @ch_spells_selected.strip.tr('*','').split("^").each do |spell| %>
        <%= spell %>&nbsp;&nbsp;
            <% @spelllist_wizard1.each do |entry| %>
            <% if entry[:name] == spell.strip || entry[:name] == spell.strip+"*" %>
                <% tincw += 1 %>
                <a data-dropdown="drop2_<%=tincw%>" aria-controls="drop2" aria-expanded="false" href="#">?</a>
                <div id="drop2_<%=tincw%>" aria-hidden="true" data-dropdown-content class="medium content f-dropdown">
                  <h3><%= entry[:name] %></h3><i><%= entry[:school] %></i><br>
                  <b>Casting Time: </b><%= entry[:ct] %><br>
                  <b>Range: </b><%= entry[:range] %></b><br>
                <b>Components: </b><%= entry[:comp] %><br>
                <b>Duration: </b><%= entry[:dur] %><br>
                <b>Effect:</b> <div contenteditable="true"><%= entry[:text] if entry[:text] %></div>
              </div>
            <% end %>
          <% end %><br>
        <% end %>
      </div>
     <div class="small-6 columns">
       <strong>Cantrips</strong><br>
        <% @ch_cantrips_selected.strip.tr('*','').split("^").each do |cantrip| %>
        <%= cantrip %> <br>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>

    <div class="medium-4 columns">
      <div class="row">
      <div class="small-12 columns">
        <br>
        <div class="row">
          <div class="small-6 columns"><b>Hit Die:</b> <span contenteditable="true"><%= @ch_hd %></span> </div>
          <div class="small-6 columns"><b>Max HP</b>: <span contenteditable="true"><%= @ch_hp %></span></div>
        </div>
        <br> 
        <div class="row">
         <div class="small-6 columns">
           <p><b>HP</b>: <input value="<%= @ch_hp %>" type="number"></input></div>
        <div class="small-6 columns"><p><b>Temp HP</b>: <input type="number"></input></div>
       </div>
       </div>
      </div>
    
      <div class="row">
        <div class="small-6 columns"><b>AC</b>: <span contentEditable="true">?</span></div>
        <div class="small-6 columns"><b>SPD</b>: <span contentEditable="true"><%= @ch_speed %></span></div>
        <br><br>
      </div>

      <div class="row">
       <div class="small-12 columns">
         <strong>Equipment</strong>
         <div contentEditable="true" id="equip"><%= @master_equip_list %></div>
          <br>
         <strong>Race Features</strong>
        <ul>
          <% @ch_race_features.split("^").each do |feat| %>
          <li contenteditable="true"><%= feat %></li>
          <% end %>
        </ul>
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="show-for-small-only"><br></div>
      <strong>Class Traits</strong> 
         <ul>
           <% @ch_classfeat.split("^").each do |feature| %>
           <li><%= feature %></li>
           <% end %>
         </ul>
      <strong>Background Features</strong> <div contenteditable="true"><%= @ch_bg_features %></div><br>
      <strong>Personality Traits</strong> <div contenteditable="true"><%= @ch_trait %></div><br>
      <strong>Ideals</strong> <div contenteditable="true"><%= @ch_ideal %></div><br>
      <strong>Bonds</strong> <div contenteditable="true"><%= @ch_bond %></div><br>
      <strong>Flaws</strong> <div contenteditable="true"><%= @ch_flaw %></div><br>
    </div>
  </div>


  <div id="bottom_d"> </div>
      
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script src="js/sheet.js"></script>
    <script>
      $(document).foundation();
      $(document).ready(function() {
        
        $('#bottom').click(function() {
          $('html, body').animate({
              scrollTop: $('#bottom_d').offset().top+1000
          }, 500);
          return false;
        });
      
      });
    </script>
  </body>
</html>
