<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DND Character Builder</title>
    <link rel="stylesheet" href="css/foundation.min.css" />
    <script src="js/vendor/modernizr.js"></script>
    <style>
    .attr_container {
      border: 0px;
      border-style: solid;
      border-color: #000;
      text-align: center;
    }
    .attr_mod_mobile {
      font-size: 20px;
      text-align: center;
    }
    .attr_mod {
      font-size: 40px;
      text-align: center;
    }
    .attr_score {
      font-style: italic;
      font-size: 12px;
      text-align: center;
    }
    .attr {
      font-size: 12px;
      color: #FFF;
      background-color: #000;
      padding: 2px;
      text-align: center;
    }
    .skills {
      font-size: 14px;
    }
    </style>

  </head>
  <body>

  <div class="fixed">
  <nav class="top-bar" data-topbar role="navigation">

    <section class="top-bar-section">
      <!-- Left Nav Section -->
      <ul class="left">
        <li class="hide-for-medium-up"><a href="#">Small Menu</a></li>
        <li><a id="create" href="#">Create Another</a></li>
        <li><a id="bottom" href="#">Bottom</a></li>
      </ul>
      <ul class="right">
        <li><a href="#">About</a>
        <li class="active"><a target="_blank" href="http://spensercoke.com">Author</a></li>
      </ul>
    </section>
  </nav>
  </div>
  <br><br><br>
  
  <!-- First row -->
  <div class="row">
    <div class="medium-4 columns">
      <h4>Character Name:</h4>
      <%= @ch_name %>
    </div>
    
    <div class="medium-8 columns panel">
     <div class="row">
        <div class="small-4 columns">
        <b>Level:</b> 1
        </div>
        <div class="small-4 columns">
          <b>Background:</b> <%= @ch_background %>
        </div>
        <div class="small-4 columns">
        <b>Player Name:</b> <input name="player_name" type="text">
        </div>
      </div>
      <br>
      <div class="row">
        <div class="small-4 columns">
          <b>Race:</b> <%= @ch_race %>
        </div>
        <div class="small-4 columns">
          <b>Alignment:</b> <%= @ch_alignment %>
        </div>
        <div class="small-4 columns">
        <b>XP:</b> <input name="xp" type="number">
        </div>
      </div>
    </div>
  </div>
  
  <div class="row">
  <div class="medium-12 columns panel">
    <!-- Stats -->
    
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">STR</div><br>
        <span class="attr_mod"><%= ((@ch_str.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_str %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">DEX</div><br>
        <span class="attr_mod"><%= ((@ch_dex.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_dex %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">CON</div><br>
        <span class="attr_mod"><%= ((@ch_con.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_con %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">INT</div><br>
        <span class="attr_mod"><%= ((@ch_int.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_int %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">WIS</div><br>
        <span class="attr_mod"><%= ((@ch_wis.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_wis %>)</span>
      </div>
    </div>
    <div class="small-2 columns">
      <div class="attr_container">
        <div class="attr">CHA</div><br>
        <span class="attr_mod"><%= ((@ch_cha.to_i-10)/2).to_i %></span><br>
        <span class="attr_score">(<%= @ch_cha %>)</span>
      </div>
    </div>
    
  </div>
  </div>
  
  <div class="row">
    <div class="medium-4 columns">
      <div class="row">
        <div class="small-6 columns">
          <table>
            <tr><th>Saving Throws</th></tr>
            <% @ch_stp.split(",").each do |stp| %>
            <tr><td><%= stp %> <i>(+2)</i></td></tr>
            <% end %>

          </table>
          
          <fieldset name="death saves"><legend>Death Saves</legend>
          <p>Success:<br> <input type="checkbox"></input> <input type="checkbox"></input> <input type="checkbox"></input><br>
            Failure:<br> <input type="checkbox"></input> <input type="checkbox"></input> <input type="checkbox"></input></p>          </fieldset>
            
          <h4>Languages</h4>
          <div class="languages">
            <textarea id="ch_lang"><%= @ch_race_languages.gsub('^', ', ') %>, and <%= @master_lang_count %> extra language(s) of your choice.</textarea>
          </div>
        </div>
        
        
        <div class="small-6 columns">
            <h4>Skills</h4>
            <input type="checkbox"></input> Hide untrained 
            <div class="skills">
              
              <small>(DEX)</small> <% if @master_skill_list.include?('Acrobatics') %><b><i>(T)</i> <% end %>Acrobatics</b> <br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Animal Handling') %><b><i>(T)</i> <% end %>Animal Handling</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('Arcana') %><b><i>(T)</i> <% end %>Arcana</b><br>
              <small>(STR)</small> <% if @master_skill_list.include?('Athletics') %><b><i>(T)</i> <% end %>Athletics</b> <br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Deception') %><b><i>(T)</i> <% end %>Deception</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('History') %><b><i>(T)</i> <% end %>History</b><br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Insight') %><b><i>(T)</i> <% end %>Insight</b><br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Intimidation') %><b><i>(T)</i> <% end %>Intimidation</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('Medicine') %><b><i>(T)</i> <% end %>Medicine</b><br>
              <small>(INT)</small> <% if @master_skill_list.include?('Nature') %><b><i>(T)</i> <% end %>Nature</b> <br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Perception') %><b><i>(T)</i> <% end %>Perception</b> <br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Performance') %><b><i>(T)</i> <% end %>Performance</b><br>
              <small>(CHA)</small> <% if @master_skill_list.include?('Persuasion') %><b><i>(T)</i> <% end %>Persuasion</b> <br>
              <small>(INT)</small> <% if @master_skill_list.include?('Religion') %><b><i>(T)</i> <% end %>Religion</b> <br>
              <small>(DEX)</small> <% if @master_skill_list.include?('Sleight of Hand') %><b><i>(T)</i> <% end %>Sleight of Hand</b> <br>
              <small>(DEX)</small> <% if @master_skill_list.include?('Stealth') %><b><i>(T)</i> <% end %>Stealth</b> <br>
              <small>(WIS)</small> <% if @master_skill_list.include?('Survival') %><b><i>(T)</i> <% end %>Survival</b> <br>
            </div>

        
          
        </div>
      </div>
    </div>
    <div class="medium-4 columns">
      <div class="row">
      <div class="small-12 columns">
       <p><b>Hit Die:</b> <%= @ch_hd %> <br>
       <p><b>Maximum HP</b>:<input type="text" value="<%= @ch_hp %>" readonly></input>
       <p><b>Current HP</b>: <input value="<%= @ch_hp %>" type="text"></input>
       <p><b>Temp HP</b>: <input type="text"></input>
       </div>
      </div>
    
      <div class="row">
        <div class="small-4 columns"><b>AC</b>: 8</div>
        <div class="small-4 columns"><b>INIT</b>: 12 </div>
        <div class="small-4 columns"><b>SPD</b>: <%= @ch_speed %></div>
        <br><br>
      </div>
      
      <div class="row">
       <div class="small-12 columns panel"><strong>Attack Info:</strong></div>
      </div>
      <div class="row">
       <div class="small-12 columns panel"><strong>Equipment:</strong>
         <textarea id="equip"><%= @master_equip_list %></textarea>
        </div>
      </div>
      
    </div>
    <div class="medium-4 columns">
      <strong>Class Traits</strong>: 
      <ul>
        <% @ch_classfeat.split("^").each do |trait| %>
          <li><%= trait %></li>
        <% end %>
      </ul>
      <br>
      
      <strong>Race Features</strong>: 
      <ul>
        <% @ch_race_features.split("^").each do |feat| %>
        <li><%= feat %></li>
        <% end %>
      </ul>
      
      
      
      <br><br><br>
      
      <% if @spells %><strong>Spells</strong>:<br><br><br><% end %>
      <strong>Background Features</strong>: <%= @ch_bg_features %><br><br>
      <strong>Personality Traits</strong>: <%= @ch_trait %><br><br>
      <strong>Ideals</strong>: <%= @ch_ideal %><br><br>
      <strong>Bonds</strong>: <%= @ch_bond %><br><br>
      <strong>Flaws</strong>: <%= @ch_flaw %><br><br>
    </div>
  </div>
  <div id="bottom_d"> </div>
      
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    
    <script>
      $(document).foundation();
      $(document).ready(function() {
        
        $('#bottom').click(function() {
          $('html, body').animate({
              scrollTop: $('#bottom_d').offset().top-10
          }, 500);
          return false;
        });
      
      });
    </script>
  </body>
</html>
